<footer>
  <div class="social-media flex">
      <a target="_blank" href="https://github.com/barbaradamasdev"><img src="../../../assets/images/icons/github.png" alt="Icone do Github"></a>
      <a target="_blank" href="https://www.linkedin.com/in/barbaradamascenodev/"><img src="../../../assets/images/icons/linkedin.png" alt="Icone do LinkedIn"></a>

  </div>
  <p class="footer-text">
    {{ selectedLanguage === 'pt' ? 'Desenvolvido por Barbara Damasceno' : 'Designed and Developed by Barbara Damasceno' }}</p>
</footer>
