.secondary {
  padding-bottom: 0;
}

.project,
.invert {
  position: relative;
  flex-direction: column;
  gap: 0;
}

.image {
  width: 100vw;
  margin-left: -40px;
}

.project img {
  transition: all 200ms;
  border-radius: 15px;
}

.project img:hover {
  transform: translate(10px, 10px);
  box-shadow: -10px -10px 1px 1px var(--color10);
}

.invert img:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 1px 1px var(--color10);
}

.description {
  /* height: 300px; */
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

.destaque {
  background-color: var(--color10);
  color: var(--lightcolor);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.336);
}

.description h2 {
  font-size: 24px;
  margin-top: 30px;
}

.description .buttons > * {
  position: relative;
  margin-right: 30px;
}

.description button:hover::before {
  transform: scaleX(0.5);
}

.btn-live::after,
.btn-git::after {
  content: "";
  position: absolute;
  right: -30px;
  top: -2px;
  color: var(--color9);
  height: 20px;
  width: 20px;
  display: block;
  background-size: 100%;
  filter: var(--invertcolor);
}

.btn-live::after {
  background-image: url(../../../assets/icon-live.gif);
}

.btn-git::after {
  background-image: url(../../../assets/icon-git.gif);
}

.btn-principal {
  justify-content: center;
  margin: auto;
}

@keyframes hoverbox {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 30px 30px 5px 1px #7e22ce42;
  }
}

.icons li:hover {
  transform: scale(1.2);
}

@media (min-width: 700px) {
  .btns {
    flex-direction: row;
  }

  .project {
    flex-direction: row;
    gap: 30px;
  }

  .last-card {
    margin-bottom: -100px;
  }

  .invert {
    flex-direction: row-reverse;
  }

  .card {
    min-height: 110px;
  }

  .destaque {
    margin-left: -50px;
    margin-right: 0;
    max-width: 60vw;
  }

  .invert .destaque {
    margin-right: -50px;
    margin-left: 0;
  }

  .image {
    width: inherit;
    margin-left: 0;
    max-width: 550px;
  }

  .left {
    flex-direction: row;
  }

  .form div {
    flex-direction: row;
  }
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color10);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color1);
}

.slider {
  overflow-x: scroll;
}

.slider-content {
  gap: 30px;
  display: flex;
  transition: transform 0.5s ease;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.btn-techs {
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.btn-techs .btn-principal {
  font-size: 14px;
  width: auto;
  margin: 0;
}

.selected {
  background: var(--color9);
  color: white;
}
